#showMonth td {
    height: 5rem;
}

.navbar{
    background-color: #3b5998;
}
.navbar-toggler{
    background-color: #334b80;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: black;
}

.nav-item + nav-link{
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3b5998;
    color: black;
    text-align: center;
}
/* 以下為新增 */
.item{
    position: relative;
    margin-top: 30px;
    margin-left: 60px;

}

.whenToSet{
    border:1px rgb(189, 189, 189) solid; 
    border-radius: 5px;
    width: 300px;
}

.choosedate{
    border:1px rgb(189, 189, 189) solid; 
    border-radius: 5px;
    width: 265px;
}
.choosetime{
    border:1px rgb(189, 189, 189) solid; 
    border-radius: 5px;
    width: 280px;
}
.selectday{
    border:1px rgb(189, 189, 189) solid; 
    border-radius: 5px;
    width: 300px;
}
.whyToSet{
    border:1px rgb(189, 189, 189) solid; 
    border-radius: 5px;
    width: 300px;

}

.item2{
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
}

/* 上傳選擇檔案按鈕 */
.FileUpBtn{
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    width: 100px;
    padding: 10px 0;
    /* 文字顏色 */
    color: #fff;
    /* 邊框樣式、顏色、寬度 */
    border: 3px solid #fff;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #3b5998;
}
.FileUpBtn:hover {
    background-color: rgb(212, 212, 212);
    color: black;
        border: 3px solid rgb(228, 226, 226);
}

/* 送出申請按鈕 */
#demo3 {
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    width: 100px;
    padding: 10px 0;
    /* 文字顏色 */
    color: #fff;
    /* 邊框樣式、顏色、寬度 */
    border: 3px solid #fff;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #3b5998;

}

#demo3:hover {
    background-color: rgb(212, 212, 212);
    color: black;
        border: 3px solid rgb(228, 226, 226);
}


