
#showMonth td {
    height: 5rem;
}

.navbar{
    background-color: #3b5998;
}
.navbar-toggler{
    background-color: #334b80;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: black;
}

.nav-item + nav-link{
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3b5998;
    color: black;
    text-align: center;
}
/* 以下為新增 */
