* {
    padding: 0;
    margin: 0;
}

body {
    --bg-color: #fff;
    --btn-color: #3b5998;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.button{
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: var(--btn-color);
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin-left: 10px;
}

.clockin{
    color: #fff;
    text-decoration: none;
}
.clockout{
    color: #fff;
    text-decoration: none;
}

.btn{
    border-radius: inherit;
}
.button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /*要減掉border上下左右各2px(共4px) 否則border會凸出去*/
    width: 146px;
    height: 46px;
    border-radius: inherit;
    border: 2px solid var(--btn-color);
    transition: all 300ms linear;
}
.button:hover:before{
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    width: 154px;
    height: 54px;
}

